# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
venv/
env/
.conda/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/

# OS
.DS_Store

# Project artifacts
models/*
!models/.gitkeep
